***Problem 1:*** Find all prime numbers less than the entered number.


### Creating this Table using HTML 

<table style="border-collapse: collapse; width: 60%; text-align: center;">
  <tr style="background-color: #d87b2e; color: Black;">
    <th colspan="3">Test Cases</th>
  </tr>
  <tr style="background-color: #0f0d0cff;">
    <th>Sr. No.</th>
    <th>Input</th>
    <th>Expected Output</th>
  </tr>
  <tr>
    <td>1</td>
    <td>9</td>
    <td>2 3 4 5 7</td>
  </tr>
  <tr style="background-color: #b97144ff;">
    <td>2</td>
    <td>15</td>
    <td>2 3 4 5 7 11 13</td>
  </tr>
  <tr>
    <td>3</td>
    <td>3</td>
    <td>2</td>
  </tr>
  <tr style="background-color: #2b1a0fff;">
    <td>4</td>
    <td>2</td>
    <td>No Output</td>
  </tr>
   <tr style="background-color: #2b1a0fff;">
    <td>5</td>
    <td>1</td>
    <td>No Output</td>
  </tr>
</table>

In [1]:
num = int(input("Enter a number: "))
if(num>= 2 ):
    print(2, end = ' ')
for i in range(3, num):
    flag = False
    for j in range(2, i):
        if(i%j == 0):
            flag = False
            break
        else:
            flag = True
    if(flag):
        print(i, end = ' ')

2 3 5 7

***Problem 2:*** Find the total profit/loss of each trader working intrading firm. Information regarding number of traders and number of transiction in un known.

### Creating this Table using HTML 

<table style="border-collapse: collapse; width: 60%; text-align: center;">
  <tr style="background-color: #d87b2e; color: Black;">
    <th colspan="3">Test Cases</th>
  </tr>
  <tr style="background-color: #0f0d0cff;">
    <th>Sr. No.</th>
    <th>Input</th>
    <th>Expected Output</th>
  </tr>
  <tr>
    <td>1</td>
    <td>SJ_323<br>
         3534 56456-2432 0</td>
    <td>57558</td>
  </tr>
  <tr style="background-color: #b97144ff;">
    <td>2</td>
    <td>PK_874<br>
        9878 32798 131 1410</td>
    <td>10853</td>
  </tr>
  <tr>
    <td>3</td>
    <td>VM_578<br>
        -214-24-4543 8322 0</td>
    <td>2</td>
  </tr>
  <tr style="background-color: #2b1a0fff;">
    <td>4</td>
    <td>AT_194<br>
        242-2412 20 0</td>
    <td>-2150</td>
  </tr>
   <tr style="background-color: #2b1a0fff;">
    <td>5</td>
    <td>-1</td>
    <td> </td>
  </tr>
</table>

In [2]:
empID = input('Enter employee ID:')
while(empID != '-1'):
    trade = int(input('Enter the trade amount: '))
    profit_loss = 0
    while(trade != 0 ):
        profit_loss = profit_loss + trade
        trade = int(input('Enter a trade amount: '))
    print(f'profit/loss for employee {empID} is {profit_loss}')
    empID = input('\nEnter employee ID: ')

profit/loss for employee AT_194 is -2150

***Problem 3:*** Find the day wise total rainfall for the entered duration of time e.g. week, month, etc.


### Creating this Table using HTML 

<table style="border-collapse: collapse; width: 60%; text-align: center;">
  <tr style="background-color: #d87b2e; color: Black;">
    <th colspan="3">Test Cases</th>
  </tr>
  <tr style="background-color: #bd927dff;">
    <th>Sr. No.</th>
    <th>Input</th>
    <th>Expected Output</th>
  </tr>
  <tr style="background-color: #745643ff;">
    <td></td>
    <td>7</td>
    <td></td>
  </tr>
  <tr  style="background-color: #2b1a0fff;">
    <td>1</td>
    <td>10 15 19 5-1</td>
    <td>49</td>
  </tr>
  <tr style="background-color: #b97144ff;">
    <td>2</td>
    <td>12 13 31 -1</td>
    <td>56</td>
  </tr>
  <tr>
    <td>3</td>
    <td>57 32 85 47 82-1</td>
    <td>303</td>
  </tr>
  <tr style="background-color: #86471dff;">
    <td>4</td>
    <td>2 5 8 2 4 8 8 2 -1</td>
    <td>39</td>
  </tr>
   <tr style="background-color: #25130dff;">
    <td>5</td>
    <td>-1</td>
    <td> 0</td>
  </tr>
  <tr style="background-color: #514944ff;">
    <td>6</td>
    <td>21 73 90 3 7 -1</td>
    <td> 194</td>
  </tr>
  <tr style="background-color: #7d3708ff;">
    <td>7</td>
    <td>30 17 40 10 2 -1</td>
    <td>99</td>
  </tr>
</table>

In [2]:
days = int(input('Enter number of days: '))
for i in range(1, days+1):
    total = 0
    rainfall = int(input('Enter the rainfall : '))
    while(rainfall != -1):
        total += rainfall
        rainfall = int(input('Enter the rainfall : '))
    print(f'Total rainfall for day {i} is {total}\n')
    #print('Total rainfall for day(0) is (1)'.format(i, total))

Total rainfall for day 1 is 49

Total rainfall for day 2 is 56

Total rainfall for day 2 is 56

***Problem 4:***   Find  the length of longest word from the set of words entered by  the user


### Creating this Table using HTML 

<table style="border-collapse: collapse; width: 60%; text-align: center;">
  <tr style="background-color: #d87b2e; color: Black;">
    <th colspan="3">Test Cases</th>
  </tr>
  <tr style="background-color: #0f0d0cff;">
    <th>Sr. No.</th>
    <th>Input</th>
    <th>Expected Output</th>
  </tr>
  <tr>
    <td>1</td>
    <td>IITM online degree -1</td>
    <td>6</td>
  </tr>
  <tr style="background-color: #b97144ff;">
    <td>2</td>
    <td>Bechelor of science-1</td>
    <td>8</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Computational thinking-1</td>
    <td>13</td>
  </tr>
  <tr style="background-color: #2b1a0fff;">
    <td>4</td>
    <td>Introduction to python -1</td>
    <td>12</td>
  </tr>
   <tr style="background-color: #2b1a0fff;">
    <td>5</td>
    <td>Programming data structures and algorithms</td>
    <td>11</td>
  </tr>

In [ ]:
word = input('Enter a word: ')
maxLen = 0
while(word != 'done'):
    count = 0
    for letter in word:
        count += 1
    if(count > maxLen):
        maxLen = count
    word = input('Enter a word: ')
#print(f'The length of the longest word is {maxLen}')
print('The length of the longest word is %s' %maxLen)